@inherits CanErpHrPr.Layouts.MainLayoutComponent

@using Radzen
@using Radzen.Blazor
@using CanErpHrPr.Models.DbAtVdc2
<RadzenDialog />
<RadzenNotification />

<RadzenHeader>
  <ChildContent>
    <div class="row justify-content-start align-items-center">
      <div class="col-md-6 d-flex align-items-center">
        <RadzenSidebarToggle Click="@SidebarToggle0Click">
        </RadzenSidebarToggle>
        <RadzenLabel Text="CanErpHrPr">
        </RadzenLabel>
      </div>
      <div class="col-md-6 text-lg-right">
      </div>
    </div>
  </ChildContent>
</RadzenHeader>
<RadzenBody @ref="body0">
  <ChildContent>
    <RadzenContentContainer Name="main">
    @Body
    </RadzenContentContainer>
  </ChildContent>
</RadzenBody>
<RadzenSidebar @ref="sidebar0">
  <ChildContent>
    <RadzenPanelMenu style="height: 100%">
      <ChildContent>
        <RadzenPanelMenuItem Text="Tbl Gn Departments" Path="tbl-gn-departments">
        </RadzenPanelMenuItem>
        <RadzenPanelMenuItem Text="Tbl Hp Bacs" Path="tbl-hp-bacs">
        </RadzenPanelMenuItem>
        <RadzenPanelMenuItem Text="Tbl Hp Chi Tiet Chuyen Mons" Path="tbl-hp-chi-tiet-chuyen-mons">
        </RadzenPanelMenuItem>
        <RadzenPanelMenuItem Text="Tbl Hp Chi Tiet Cong Tacs" Path="tbl-hp-chi-tiet-cong-tacs">
        </RadzenPanelMenuItem>
        <RadzenPanelMenuItem Text="Tbl Hp Chi Tiet Gia Canhs" Path="tbl-hp-chi-tiet-gia-canhs">
        </RadzenPanelMenuItem>
        <RadzenPanelMenuItem Text="Tbl Hp Chi Tiet Luongs" Path="tbl-hp-chi-tiet-luongs">
        </RadzenPanelMenuItem>
        <RadzenPanelMenuItem Text="Tbl Hp Chi Tiet Ngoai Ngus" Path="tbl-hp-chi-tiet-ngoai-ngus">
        </RadzenPanelMenuItem>
        <RadzenPanelMenuItem Text="Tbl Hp Chuc Vus" Path="tbl-hp-chuc-vus">
        </RadzenPanelMenuItem>
        <RadzenPanelMenuItem Text="Tbl Hp Dan Tocs" Path="tbl-hp-dan-tocs">
        </RadzenPanelMenuItem>
        <RadzenPanelMenuItem Text="Tbl Hp Don Vi Tos" Path="tbl-hp-don-vi-tos">
        </RadzenPanelMenuItem>
        <RadzenPanelMenuItem Text="Tbl Hp He Dao Taos" Path="tbl-hp-he-dao-taos">
        </RadzenPanelMenuItem>
        <RadzenPanelMenuItem Text="Tbl Hp Loai Cham Congs" Path="tbl-hp-loai-cham-congs">
        </RadzenPanelMenuItem>
        <RadzenPanelMenuItem Text="Tbl Hp Ngaches" Path="tbl-hp-ngaches">
        </RadzenPanelMenuItem>
        <RadzenPanelMenuItem Text="Tbl Hp Nganhs" Path="tbl-hp-nganhs">
        </RadzenPanelMenuItem>
        <RadzenPanelMenuItem Text="Tbl Hp Ngoai Ngus" Path="tbl-hp-ngoai-ngus">
        </RadzenPanelMenuItem>
        <RadzenPanelMenuItem Text="Tbl Hp Nhan Viens" Path="tbl-hp-nhan-viens">
        </RadzenPanelMenuItem>
        <RadzenPanelMenuItem Text="Tbl Hp Phan Loai Nvs" Path="tbl-hp-phan-loai-nvs">
        </RadzenPanelMenuItem>
        <RadzenPanelMenuItem Text="Tbl Hp Quans" Path="tbl-hp-quans">
        </RadzenPanelMenuItem>
        <RadzenPanelMenuItem Text="Tbl Hp Quoc Tiches" Path="tbl-hp-quoc-tiches">
        </RadzenPanelMenuItem>
        <RadzenPanelMenuItem Text="Tbl Hp Tinh Tps" Path="tbl-hp-tinh-tps">
        </RadzenPanelMenuItem>
        <RadzenPanelMenuItem Text="Tbl Hp Ton Giaos" Path="tbl-hp-ton-giaos">
        </RadzenPanelMenuItem>
        <RadzenPanelMenuItem Text="Tbl Hp Trinh Do Chuyen Mons" Path="tbl-hp-trinh-do-chuyen-mons">
        </RadzenPanelMenuItem>
        <RadzenPanelMenuItem Text="Tbl Hp Trinh Do Van Hoas" Path="tbl-hp-trinh-do-van-hoas">
        </RadzenPanelMenuItem>
        <RadzenPanelMenuItem Text="Tbl Hp Xi Nghieps" Path="tbl-hp-xi-nghieps">
        </RadzenPanelMenuItem>
      </ChildContent>
    </RadzenPanelMenu>
  </ChildContent>
</RadzenSidebar>
<RadzenFooter>
  <ChildContent>
    <RadzenLabel Text="CanErpHrPr, Copyright Ⓒ 2020">
    </RadzenLabel>
  </ChildContent>
</RadzenFooter>
